.mainSection {
    min-height: calc(100vh - 38rem);
    margin: 0 auto;
    max-width: 130rem;
    background: #fff;
    font-size: 1.6rem;
    box-shadow: 0 -0.5rem 1.5rem rgba(50,50,50,.1);
}
.pageContent {
    padding: 1em 4% 3em;
}
.pageContentHeader {
    color: #4d4d4d;
    margin: 1.5rem 0 3rem;
    font-size: 2.4rem;
    line-height: 3rem;
    /*font-weight: 600;*/
}
.content_main {
    margin-top:3.2rem;
}
.leftMenuActive .content {
    padding: 0 0 0 6rem;
}
@media screen and (max-width: 700px) {
    .content {
        /*padding: 0 1rem;*/
        padding: 0;
    }
}
