footer {
    background-color: #555;
    color: #bbb;
    line-height: 2.2rem;
    padding-top: 2rem;
    font-family: sans-serif;
}

.isMap footer {
    padding-top: 0;
}

footer a {
    text-decoration: none;
    color: #eee;
}
footer ul {
    font-size: 1.6rem;
    list-style: none;
    padding-left: 0;
}

footer a:link, footer a:visited {
    color: #f0f0f0;
}
.isMap footer {
    display:none;
}

/*.isMap footer {
    position: absolute;
    bottom: 0;
    height: 1.2rem;
    border-top:none;
    clear: both;
    z-index: 2800;
    background: rgba(7,43,73,1);
}
.isMap .ft-wrap {
    display:none;
}*/
/*.isMap footer:hover {
    border-top: 0.1rem solid #777;
    background:#222;
}
.isMap #footerLinks {
    display:none;
}
footer .ft-compliance {
    text-align: center;
}
footer .ft-compliance ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.5rem;
    display: inline-block;
    border-top: 0.1rem solid #fff;
    padding: 0.8rem 4rem;
    color: #F0F0F0;
}
footer .ft-compliance ul li {
    display: inline;
    padding: 0 0.8rem;
}

.isMap .ft-compliance ul {
    border-top: 0;
    height: 2.5rem;
    color:#AAA;
}
.isMap .ft-compliance ul a {
    color:#AAA;
}
.isMap .ft-compliance {
    height: 3rem;
}
*/
.ft-wrap {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-bottom: -0.5rem;
}
.ft-main {
    padding: 0rem 2rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1rem 3%;
    min-width: 25rem;
    width:25%;
}