header {
    position: relative;
    width:100%;
    color: #EEE;
    background:#555;
    top:0;
/*    z-index: 2900;*/
    box-shadow: 0 0.3rem 0.3rem rgba(50, 50, 50, 0.15);
}
.header-wrap {
    /*max-width:none;*/
    padding:0 1rem 0 6rem;
    width:100%;
    height:100%;
}
.isBETA {
    font-size: 1.5rem;
    color:yellow;
}
.isMap header {
    height: 5.5rem;
    position: fixed;
    border-bottom: 0.1rem solid #777;
    z-index: 1000;
}
.resize header {
    display:none;
}
.headerTxtLabel {
    float: left;
    line-height: 1.8rem;
    margin-top: 1.4rem;
    margin-left: 0.5rem;
}
.isMap .headerTxtLabel {
    margin-top: 1rem;    
    line-height: 1.6rem;
}
.isSingle.headerTxtLabel {
    margin-top: 2.2rem;
}

.isMap .isSingle.headerTxtLabel {
    margin-top: 1.8rem;
}

#headerTxtLabelSmall {
    display:none;
    text-transform: uppercase;
}
.headerLabel {
    font-size:1.4rem;
}
.isMap .headerLabel {
    overflow: visible;
    color: #e8e8e3;
    width: 35rem;
    font-size: 1.6rem;
}
.headerLabelShort {
    font-weight:400;
    font-size: 2.7rem;
    text-transform: uppercase;
}
.isMap .headerLabelShort {
    font-weight: 600;
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-left: -.2rem;
}
.isSingle.headerLabelShort {
    font-size: 3rem;
}
/*header:hover {
    background:#000;
    color:#CCC;
    border-bottom: 1px solid #777;

}*/
header a:link, header a:visited{
    color: #FFF;
}
/*header:hover a:link, header:hover a:visited{
    color:#CCC;
}
*/
.headerLabel {
    overflow: visible;
    color : #DDD;
    width: 35rem;
}
.topMenu-logo {
    width: 70%;
    margin-right: 0;
    padding: 0;
}
.topMenu-logo img {
    border: none;
    padding: 0;
    float: left;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    margin: 0.2rem 0.5rem 0 1rem;
}
#headerLogo {
    width: 6rem;
    height: 6rem;
}
.isMap #headerLogo {
    width: 5rem;
    height: 5rem;
}
#headerLogo2 {
    margin: 1.2rem 0.5rem 0 0;
    width:4.7rem;
    height:5rem;
}
.isMap .topMenu-logo img {
    margin: 0.2rem 0.5rem 0 1rem;
}

@media screen and (max-width: 770px) , screen and (max-height: 500px){
    .headerLabel {
        display:none;
    }
    #headerTxtLabelSmall {
        display: block;
        margin: 2.2rem 0 0 0;
        font-size: 3rem;
        font-weight: 600;
    }    
    .isBETA {
        font-size: .8rem;
    }
}
