.navGCHeader {
    padding: 0.4rem 4rem 0.4rem 1.5rem;
    cursor: pointer;
    color: #DDD;
	background: linear-gradient(#207cb3, #0f425f);
	width: 100%;
}

.navGCContainer {
	position:relative;
	margin: 0.5rem 0 0 0;
	cursor:pointer;
}
.navGCCtrl {
	position: absolute;
    right: 0.7rem;
	top: 0;
	padding:0.7rem;
}
.navGCInfo {
	position: absolute;
	right: 3.5rem;
	font-size: 1.4rem;
	top: 0;
	padding:0.5rem;
}
.navGCBubble {
	border-top: .1rem solid #eee;
	background: repeating-linear-gradient(45deg, #1f5e83, #1d5275 25px, #0f425f 25px, #0f425f 50px);
}
.navGCBubble .navGCBubble_text {
	color: #111;
    text-transform: uppercase;
    background: #aaa;
    border-radius: 1rem;
    padding: .1rem 0.5rem;
    font-size: 1rem;
    position: absolute;
    top: .3rem;
    right: 6rem;
}
.navGCLbl {
	font-size:1.6rem;
	padding: 0.1rem 0;
}
.navGCWrap {
	padding: 0;
	background:#767676;
	color:#FFF;
}
.navGCHeaderInfo {
	padding: 0.5rem 7rem 0.5rem 1.5rem;
}
