.navGCHeader {
    padding: 0.4rem 4rem 0.4rem 1.5rem;
    cursor: pointer;
    color: #DDD;
	/*background: #336d91;*/
	background: rgba(51, 109, 145, 0.71);
	border-top: 0.1rem solid #AAA;
	width: 100%;
}

.navGCContainer {
	position:relative;
	margin: 0.5rem 0 0 0;
	cursor:pointer;
}
.navGCCtrl {
	position: absolute;
    right: 0.7rem;
	top: 0;
	padding:0.7rem;
}
.navGCInfo {
	position: absolute;
	right: 3.5rem;
	font-size: 1.6rem;
	top: 0;
	padding:0.5rem;
}

.navGCLbl {
	font-size:1.6rem;
	padding: 0.1rem 0;
}
.navGCWrap {
	padding: 0;
	background:#767676;
	color:#FFF;
}
.navGCHeaderInfo {
	padding: 0.4rem 7rem 0.4rem 1.5rem;
}
