.sm_content {
    color: #222;
    bottom:0;
    width:100%; 
}
.sm_selection {
	position:relative;
	width:100%;
    font-size:1.5rem;
    line-height: 2.5rem;
	background:#C0C0C0;
	padding:0.3rem;
	border-bottom:0.1rem solid #444;
	cursor:pointer;
}
.sm_selection:hover {
	background:#808080;
}
.sm_selection span {
    font-size:1.6rem;
    margin: 0 1rem 0 0.5rem;
}
.sm_selected {
	background:rgba(43, 103, 141, 0.9);
	color:white;
}
.sm_selected:hover {
	background:rgba(43, 103, 141, 0.7);
}
.sm_InfoContent {
	display:none;
	font-size:1.3rem;
	margin-left:0.5rem;
}
.sm_InfoContent select {
    width:20rem;
    color:white;
    border:none;
    background: none;
    font-size:1.5rem
}
.sm_selected .sm_InfoContent {
    display: block;
}