.tatraCtrlLyr {
    text-align: left;
    position: relative;
    padding: 0;
    height: 5.7rem;
    cursor: pointer;
    border-bottom: 0.1rem solid #777;
    font-size: 1.4rem;
    background:#C0C0C0;
}
.tatraLyrWrap {
	position: relative;
	padding: 0.7rem;
	border-bottom:0.1rem solid #AAA;
}