.mds {
	font-size:1.2rem; 
	width:100%;
	color:#F0F0F0;
	font-weight:500;
	cursor:default;
	/*height:65px;*/
	position:relative;
}
.mds_content {
	width:100%;
	position:relative;
    display:inline-block;
    margin: 0;
    line-height: 1.4rem;
    margin: 3.5rem 0 0 0;
}
#mdts_content {
    margin: 0 0 0.5rem 0;
}
#mdts_content .fmmModeWrap {
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.mdtsQuickLinks {
    text-align: center;
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem solid #777;
    font-size: 0;
}
.mdtsQuickLinks div {
    color: #aaa;
    width: 18%;
    font-size: 1.4rem;
    padding: .2rem 0;
    display: inline-block;
    cursor:pointer;
}
.mdtsQuickLinks div:last-child {
    width:9%;
}
.daily {
    display:inline-block;
}
.subdaily {
    display: block;
    margin-top: 0.5rem;
}
.mdtsQuickLinks div:hover, .mdtsQuickLinks .selected {
    background: #448e4e;
    color: #eee;
    border-radius: 1rem;
}
.dailyOption {
    width: 11rem;
    display: inline-block;
}
.mds_content input {
	width:10.5rem;
	font-size:1.6rem;
	padding: 0.2rem;
}
.mds_content input[type="date" i] {
	width:15rem;
	font-family: sans-serif;
	background: none;
    color: #7fc7f8;
    border: none;
    outline: none;
}
.mds_content select {
	font-size: 1.6rem;
}
.mds_tab {
    width: 50%;
    height: 2.7rem;
    text-transform: uppercase;
    text-align: center;
    color: #444;
    cursor: pointer;
    background: #777;
    font-size: 1.7rem;
    font-family: 'TitilliumSB',Tahoma, sans-serif;
    margin: 0;
    padding: 0.5rem 0;
    position: absolute;
}
.mds_tab:last-child {
    left:50%;
}
.active {
    background: #202020;
    color: #bbbab8;
}
.mds_subdaily_time {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 2rem 0 2rem;
    border-radius: 1rem;
    background: #555;
    color:#AAA;
    padding: 0 1rem;
    line-height: 1.8rem;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.mds_subdaily_time:hover {
    background: #448e4e;
    color: white;
}
.disabled {
    background: #333;
    color: #555;
    cursor: default;
}
.disabled:hover {
    background: #333;
    color: #555;
}
.mds_time_btn {
    background: #777;
    color: #222;
    font-size: 1.5rem;
    font-family: 'Titillium Web';
    padding: 1.8rem 0 0 0.1rem;
    line-height: 1em;
    border-radius:2.5rem;
    text-align: center;
    width:5rem; 
    height:5rem;
    margin:0 .7rem;
    display:inline-block;
    /*float:left;*/
    cursor:pointer;
    text-transform: uppercase;
}
.mds_time_btn:hover {
    font-weight: 600;
    background: linear-gradient(180deg,#30aaf2,#155b82);
    color: #000;
}
.mds_time_btn div {
	position:absolute;
	width:4.8rem;
}
.mds_bookmark_btn {
	position:absolute;
	top:0;
	right:0.8rem;
	color:#999;
	cursor:pointer;
	font-size:1.6rem;
}
.mmTimeBtnSelected {
    color: #000;
    background: linear-gradient(180deg,#30aaf2,#155b82);
}
#mdsHistorical {
    font-size:1.6rem; 
    line-height:2.4rem;
    width: 100%;
    padding: 1rem 0;
    display: inline-block;
    position: relative;
    text-align: center;
}
#mdsCalendar {
    cursor: pointer;
    font-size: 1.7rem;
}
#mdsCalendar2 {
    display: inline-block;
}
#mdsHistorical input {
    width: 10.5rem;
    padding: 0.2rem;
    font-size: 1.6rem;
}
#mdsHistorical select {
    font-size: 1.6rem;
}

.mdsDateRange {
    color: #7fc7f8;
    width: 10rem;
    background: #222222f2;
    border: none;
    outline: none;
}
#mds_date, #mds_clock {
    color: #7fc7f8;
    background: 0 0;
    border: none;
    outline: none;
}
#mdsTimePeriodStatement {
    color: #ccc;
    width: 45%;
    padding: 0.3rem;
    font-size: 1.1rem;
    display:inline-block;
    top: 0rem;
    left: 50%;
}
#mdsTimePeriodStatement a {
    color: #65b2e3;
}
.mds_btn_timeInfoTitle {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #aaa;
    font-weight: 600;
}
#mds_btn_timeInfo {
    font-size:1.6rem;
}