.mds {
	font-size:1.2rem; 
	left:1%; 
	width:98%;
	color:#F0F0F0;
	padding:1rem 0.5rem;
	font-weight:500;
	cursor:default;
	/*height:65px;*/
	position:relative;
}
.mds_content {
	width:100%;
	position:relative;
	display:inline-block;
	padding-top:0.2rem;
}
.mds_content input {
	width:10.5rem;
	font-size:1.6rem;
	padding: 0.2rem;
}
.mds_content input[type="date" i] {
	width:15rem;
	font-family: sans-serif;
	background: none;
    color: #7fc7f8;
    border: none;
    outline: none;
}
.mds_content select {
	font-size: 1.6rem;
}

.mds_time_btn {
    background: #777;
    color: #222;
    font-size: 1.5rem;
    font-family: 'Titillium Web';
    padding: 1.8rem 0 0 0.1rem;
    line-height: 1em;
    border-radius:2.5rem;
    text-align: center;
    width:5rem; 
    height:5rem;
    margin:0 .7rem;
    display:inline-block;
    /*float:left;*/
    cursor:pointer;
    text-transform: uppercase;
}
.mds_time_btn:hover {
    font-weight: 600;
    background: linear-gradient(180deg,#30aaf2,#155b82);
    color: #000;
}
.mds_time_btn div {
	position:absolute;
	width:4.8rem;
}
.mds_bookmark_btn {
	position:absolute;
	top:0;
	right:0.8rem;
	color:#999;
	cursor:pointer;
	font-size:1.6rem;
}
.mmTimeBtnSelected {
    color: #000;
    background: linear-gradient(180deg,#30aaf2,#155b82);
}

#mdsTimePeriodStatement {
    color: #ccc;
    padding: 0.3rem;
    font-size: 1.1rem;
    width: 40%;
    position: absolute;
    top: .7rem;
    left: 55%;
}
#mdsTimePeriodStatement a {
    color: #65b2e3;
}
.mds_btn_timeInfoTitle {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #30aaf2;
    font-weight: 600;
}
.colorBlue {
    color: #30aaf2;
    font-size: 1.6rem;
}