body {
    font-size: 1.6rem;
    line-height: 1.3em;
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a:link, a:visited {
    color: #2276ac;
    text-decoration: none;
}
a:link.ext:after,
a:visited.ext:after {
    display: inline;
    opacity: 0.6
}
a:link.ext:after,
a:visited.ext:after {
    display: inline-block;
    padding-left: 0.3em;
    font-size: 0.9em;
    font-family: "FontAwesome";
    content: "\f08e"; 
}
.wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header {
    height: 55px;
    border-bottom: 1px solid #777;
    position: absolute;
    width:100%;
    color: #EEE;
    top:0px;
    z-index: 2900;
    box-shadow: 0 3px 3px rgba(50, 50, 50, 0.15);
}

#headerTxtLabel, #headerTxtLabelSmall {
    float: left;
    line-height: 17px;
    margin-top: 0.5em;
    margin-left: 0.3em;
}
#headerTxtLabelSmall {
    display:none;
}

#headerLabelShort {
    font-size: 1.7em;
    font-weight: 200;
}
.headerLabel {
    font-size:14px;
}
#headerLabelShort {
    font-weight:400;
}
/*header:hover {
    background:#000;
    color:#CCC;
    border-bottom: 1px solid #777;

}*/
header a:link, header a:visited{
    color: #EEE;
}
/*header:hover a:link, header:hover a:visited{
    color:#CCC;
}
*/
.topMenu-li {
    height:50px;
}
.topMenu-li:hover {
    background:#222;
}
.headerLabel {
    overflow: visible;
    color : #DDD;
    width: 350px;    
}
#main-content {
    position:absolute;
    left: 0px;
    right:0px;
    top:0px;
    bottom:0px;
}
footer {
    position: absolute;
    height: 32px;
    bottom: 0px;
    width:100%;
    border-top: 1px solid #555;
    clear: both;
    z-index: 2800;
    background:#222D;
}    
footer:hover {
    border-top: 1px solid #777;
    background:#222;
}
footer .compliance {
    text-align: center;
    height: 30px;
}
footer .compliance ul {
    list-style-type: none;
    padding: 0;
    /* margin: 0 0 2em 0; */
    margin: 0;
    font-size: 0.8em;
    line-height: 1.4em;
    display: inline-block;
    border-top: 1px solid #fff;
    padding: 0.5em 3em;
}
footer .compliance ul li {
    display: inline;
    padding: 0 0.5em;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
}
::-webkit-scrollbar-thumb {
	border-radius: 25px;
    border: solid 1px #222222;
    background-color: #999999;
}

.footerShow {
    display:block;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #555A;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #555A;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #555A;
  }

@media screen and (max-height: 650px), screen and (max-width: 1100px) {
	.footerShow {
		display:none;
	}
}

@media screen and (max-width: 700px) , screen and (max-height: 500px){
    .headerLabel {
        display:none;
    }
    #headerTxtLabel{
        margin-top:1.1em;
    }
    header {
        height: 30px;
    }
    .topMenu-li {
        height:37px;
    }
    #headerTxtLabelSmall {
        display: block;
        margin-left: 0;
    }
}

