.timeline {
	position: fixed;
    bottom: 8.6rem;
    height:5.6rem;
    left:.7rem;
	right: 0.7rem;
	padding: 0.3rem;
	display:none;
	box-shadow: 0 0 0.5rem 0.4rem #748ca1;
    background: #222;
    z-index:500;
}
.leftMenuActive .timeline {
    left:6.5rem;
}
.timeline-display {
	height:8.1rem;
}
.timeline-container {
	min-height:8rem;
}
.timeline-tools a {
	font-size:1.4em;
	line-height:1em;
	margin:0.15em auto;
}
.timelineWrap {
    position: absolute;
    left:1rem;
    right:27.5rem;
    top:0;
    bottom:0;
}

.timelineCtrlBtn {
    font-size:1.4rem;
    cursor:pointer;
    margin-right:1rem;
    color:#888;
}
.timelineCtrlBtn:hover {
    color: #AAA;
}

.timelineCtrlBtnDisabled, .timelineCtrlBtnDisabled:hover {
    color:#444;
    cursor: default;
}
.timelineMissing {
    width: 27rem;
    left:auto;
}

@media screen and (max-height: 600px), screen and (max-width: 1200px) {
	.timeline {
        bottom: 4.8rem;
    }
}

@media screen and (max-width: 900px) {
    .timeline {
        left: 0.7rem;
    }
    .timelineWrap {
        right: 22.5rem;
    }
    .timelineMissing {
        width: 22rem;
    }
}

@media screen and (max-width: 500px) {
    .timeline {
        height:11rem;
    }
	.timelineWrap {
        right:0rem;
        top:5.4rem;
    }
    .timelineMissing {
        width:auto;
    }
}
