.timeline {
	position: fixed;
    bottom: .7rem;
    height:5rem;
    left:.7rem;
	right: 0.7rem;
	padding: 0.3rem;
	display:none;
	box-shadow: 0 0 0.2rem 0.2rem #748ca1;
    background: rgba(7, 43, 73, 0.9);
    z-index:500;
}
.leftMenuActive .timeline {
    left:6.5rem;
}
@keyframes timelineAnimationOpen {
	0%   {opacity:0; left:.7rem; bottom:-5.5rem;}
	100% {opacity:1; left:.7rem; bottom:0.7rem;}
  }
@keyframes timelineAnimationClose {
	0%   {opacity:1; left:.7rem; bottom:0.7rem;}
	100% {opacity:0; left:.7rem; bottom:-5.5rem;}
  }
.timelineAnimationOPEN {
	animation-name: timelineAnimationOpen;
	animation-duration: 1s;
	opacity: 1;
}
.timelineAnimationCLOSE {
	animation-name: timelineAnimationClose;
	animation-duration: 1s;
	position: fixed; left:.7rem; bottom:-5.5rem;
}
.timeline-display {
	height:8.1rem;
}
.timeline-container {
	min-height:8rem;
}
.timeline-tools a {
	font-size:1.4em;
	line-height:1em;
	margin:0.15em auto;
}
.timelineWrap {
    position: absolute;
    left:1rem;
    right:30.5rem;
    top:0;
    bottom:0;
}

.timelineCtrlBtn {
    font-size:1.4rem;
    cursor:pointer;
    margin-right:1rem;
    color:#888;
}
.timelineCtrlBtn:hover {
    color: #AAA;
}

.timelineCtrlBtnDisabled, .timelineCtrlBtnDisabled:hover {
    color:#444;
    cursor: default;
}
.timelineMissing {
    width: 30rem;
    left:auto;
}

@media screen and (max-width: 700px), screen and (max-height: 500px) {

@keyframes timelineAnimationOpen {
    0%   {opacity:0; left:.7rem; bottom:-5rem;}
    100% {opacity:1; left:.7rem; bottom:0.7rem;}
    }
@keyframes timelineAnimationClose {
    0%   {opacity:1; left:.7rem; bottom:0.7rem;}
    100% {opacity:0; left:.7rem; bottom:-5rem;}
    }
.timelineAnimationOPEN {
    animation-name: timelineAnimationOpen;
    animation-duration: 1s;
    opacity: 1;
}
.timelineAnimationCLOSE {
    animation-name: timelineAnimationClose;
    animation-duration: 1s;
    position: fixed; left:.7rem; bottom:-5rem;
}
.timeline {
    position: fixed;
    height:5rem;
    left:.7rem;
    right: 0.7rem;
    display:none;
    padding: 0.3rem;
    box-shadow: 0 0 0.2rem 0.2rem #748ca1;
    background: rgba(7, 43, 73, 0.9);
    z-index:500;
}
}

@media screen and (max-width: 900px) {
    .timeline {
        left: 0.7rem;
    }
    .timelineWrap {
        right: 30.5rem;
    }
    .timelineMissing {
        width: 30rem;
    }
}

@media screen and (max-width: 500px) {
    .timeline {
        height:11rem;
        left:.3rem;
        right:.3rem;
        bottom:.3rem;
    }
	.timelineWrap {
        right:7rem;
        top:5.4rem;
    }
    .timelineMissing {
        width:auto;
    }
    @keyframes timelineAnimationOpen {
        0%   {opacity:0; left:.3rem; bottom:-12rem;}
        100% {opacity:1; left:.3rem; bottom:0.3rem;}
      }
    @keyframes timelineAnimationClose {
        0%   {opacity:1; left:.3rem; bottom:0.3rem;}
        100% {opacity:0; left:.3rem; bottom:-12rem;}
      }
    .timelineAnimationOPEN {
        animation-name: timelineAnimationOpen;
        animation-duration: 1s;
        opacity: 1;
    }
    .timelineAnimationCLOSE {
        animation-name: timelineAnimationClose;
        animation-duration: 0.4s;
        position: fixed; left:.3rem; bottom:-12rem;
    }
}
