.identifyBasicLabel {
    width: 40rem;
    max-height: 25rem;
    overflow-y: auto;
    margin-top: .5rem;
}
.ol-identify .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background: white;
    text-align: center;
    padding: .5rem 0;
    border-radius: 3rem;
    cursor:pointer;
}
.identifyBasicLabel .close {
    color: #426c2c;
}
.ol-identify .wrapper {
    position: absolute;
    left:0;
    right:0;
}
.ol-identify .top {
    top:-.8rem;
}
.ol-identify .bottom {
    bottom:-.8rem;
}
.ol-identify .arrow {
    position: relative;
    margin:0 auto;    
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
}
.ol-identify .top .arrow {
    border-bottom: 1rem solid #041b2e;
}
.ol-identify .bottom .arrow {
    border-top: 1rem solid #041b2e;
}
.identifyBasicLabel .header {
    font-weight: 600;
    font-size: 1.8rem;
    background: #426c2c;
    font-family: 'Titillium Web';
    color: #FFF;
    padding: .3rem 1rem;
}
.identifyBasicLabel .parkRecord {
    padding: .5rem 1rem;
}
.identifyBasicLabel .parkName {
    font-size: 1.6rem;
    font-weight: 600;
    white-space: break-spaces;
}
.identifyBasicLabel .parkDesignation {
    font-size: 1.5rem;
    color:#AAA;
    white-space: break-spaces;
}
.identifyBasicLabel .parkType {
    font-size: 1.4rem;
    white-space: break-spaces;
}
.identifyBasicLabel .parkId {
    font-size: 1.4rem;
}