.identifyJSONLabel table {
    min-width: 28rem;
    font-size: 1.5rem;
}
.identifyJSONLabel table tr, .identifyJSONLabel table tr:nth-child(2n+2) {
    background:#244153;
    color:#EEE;
}
.identifyJSONLabel table td {
    width:50%;
    text-align: center;
    padding: .3rem 1rem;
}
.identifyJSONLabel .zoomto {
    font-size: 1.3rem;
    color: #273f4d;
    text-align: center;
    cursor: pointer;
    border: .1rem solid #999;
    background: #97d9ff;
    padding: .3rem;
    width: 99%;
    margin-left: .1rem;
    text-transform: uppercase;
    margin-bottom: .7rem;
}
.identifyJSONLabel .saveLoc {
    font-size: 1.5rem;
    color: #041b2e;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    background: #bf4c0c;
    padding: 0.4rem 0.3rem 0.1rem 0.3rem;
    margin: 1rem 0rem 1rem 1rem;
    width: 90%;
    text-transform: uppercase;
    border-radius: 1.5rem;
}
.identifyJSONLabel .faLbl, .identifyJSONLabel .faNoaaLbl {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;  
    overflow: hidden;
}
.faSize a:link, .faSize a:visited {
    color:#6cc8ff;
}
.identifyJSONLabel .faNoaaLbl {
    padding:.8rem;
    text-align: center;
    text-transform: uppercase;
}
.identifyJSONLabel .faLbl img {
    height: 1.8rem;
    margin-right: 1rem;
}
.identifyJSONLabel .fa-noaa-logo {
    position: absolute;
    bottom: 0;
    right: 0.7rem;
}
.identifyJSONLabel .fa-noaa-logo img {
    height: 4.5rem;
    width: 4.5rem;
}
.identifyJSONLabel .faNoaaTbl tr:first-child {
    background: #2da3db;
    color: #000;
}
.faNoaaTbl {
    padding-top:.2rem;
}
.faSituation {
    text-align: center;
    font-size: 1.5rem;
}
.identifyJSONLabel .faNoaaTbl tr:last-child {
    background: #ccc;
    color: #000;
}
.identifyJSONLabel .faNoaaTbl td:first-child {
    width:27%;
    font-weight: 600;
    font-size: 1.5rem
}
.identifyJSONLabel .faNoaaTbl td:last-child {
    width:73%;
    font-style: italic;
    font-size: 1.4rem;
    padding:.5rem 1rem;
}
.identifyJSONLabel .faNoaaDetails {
    padding: 1rem 0 0.5rem 0;
    text-align: center;
}
.identifyJSONLabel .faDate {
    font-style: italic;
    font-size: 1.4rem;
}
.ol-identify {
    border: .1rem solid #555;
    color:#eee;
    background:#041b2e;
    position: relative;
    border-radius: 0.4rem;
    padding: 1rem 0.5rem;
    opacity: 0.8;
    white-space: nowrap;
    font-size: 1.6rem;
    line-height: 2.2rem;
    cursor: default;
}
.ol-identify:hover {
    opacity:1.0;
}
.identifyJSONLabel .close {
    color: #244153;
}
