#layerInfoDescriptions {
    
}
#layerInfoDescriptions .lid-image {
    text-align: center;
    margin: 0 0 2rem;
    height: 33rem;
}
#layerInfoDescriptions .navGCLbl > div:first-child {
    width:3.2rem;
    height:3.2rem;    
    border-radius: 3.2rem;
    position:absolute;
    left:1rem;
    top:.3rem;
}
#layerInfoDescriptions .navGCLbl > div:last-child {
    margin-left:4.5rem;
}
#layerInfoDescriptions .navGCHeader {
    background:#4e6472;
}
#layerInfoDescriptions .navGCWrap {
    background: #dedede;
    padding: 1rem 1rem 2rem;
    color: #333;
}
#layerInfoDescriptions .navGCWrap p {
    padding: 0 2rem 0 2.5rem;
}
#layerInfoDescriptions .navGCWrap h4 {
    font-family: Titillium Web,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.9rem;
    font-weight: 600;
    color: #eee;
    background: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 0 0 -0.2rem;
    text-transform: uppercase;
}