#lmvControls_locator_Content {
    padding: 1rem 0 0 0;
}
#lmvControls_locator {
    max-width: 40rem;
}
.locator-tab-wrap {
    padding: 0 .5rem 0 0;
}
.locator-tab-wrap .locator-tab:first-child {
    border-radius: 0 0 0 0;
    /*border-left: .1rem solid #AAA;*/
    border-left: none;
}
.locator-tab-wrap .locator-tab:last-child {
    border-radius: 0 .5rem 0 0;
    border-right: .1rem solid #AAA;
}
.locator-tab-wrap svg {
    font-size:3.5rem;
    float:left;
    padding-right:1rem;
}
.locator-tab {
    font-family: 'Titillium Web';
    font-size: 1.7rem;
    line-height: 1.9rem;
    opacity: 0.7;
    display: table-cell;
    background: #434343;
    color:#CCC;
    padding: .5rem .5rem .5rem 1rem;
    cursor: pointer;
    border-top: .1rem solid #AAA;
}
.locator-tab:hover {
    opacity:1;
}
.locator-tab-wrap .selected {
    opacity:1;
    color:#eee;
    background:#222;
    background: #041b2e;
    border-left: .1rem solid #AAA;
    border-right: .1rem solid #AAA;
}
#locator-content {
    font-size: 1.7rem;
    background: #041b2e;
    margin: 0;
    padding: 2.5rem 2rem 3rem 2rem;
    color:#eee;
}
#locator-locate-btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight:600;
    text-align: center;
    border-radius: 1.5rem;
    margin: 0;
    width: 100%;
    padding: 0.5rem 0rem;
    /*background: linear-gradient(180deg, #299bf9, #041b2e);*/
    background: linear-gradient(180deg, #fc6814, #bb4b0c);
    color: #041b2e;
    cursor: pointer;
    
}
#locator-locate-btn span {
    font-size: 2rem;
    padding-right: 0.2rem;
}
#locator-or {
    margin: 1rem .5rem;
    font-size: 1.4rem;
}
#locator-click-option {
    font-family: 'Titillium Web';
    font-size: 1.7rem;
    line-height: 2rem;
    /*background: #345970;*/
    width: 100%;
    margin: 0rem auto;
    padding: 1.5rem 0rem 0rem 0rem;  
}
#locator-options {
    position: relative;
    padding: 1.3rem 0rem 1.5rem 2rem;
    height: auto;
    color: #eee;
    font-family: "Titillium Web";
    background: #3a3a3a;
    border-radius: 0 0 0.9rem 0.9rem;
}
#locator-remove-all {
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    background: #AAA;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    color: #222;
    border-radius: 0.7rem;
    cursor: pointer;
}
#locator-remove-all:hover {
    opacity:0.8;
}
.locator-multi-lbl {
    font-family: "Titillium Web";
    font-size: 1.7rem;
    margin: .3rem 0 0.5rem 3.5rem;
} 
#locator-locate-btn:hover {
    opacity:0.8;
}
.locator-search-wrap {
    position:relative;
}
.locator-search-wrap input[type=text]{
    font-size: 1.6rem;
    border: none;
    width: 100%;
    outline: none;
    padding: .5rem 0rem .5rem 1rem;
}
.closebtn {
    position: absolute;
    right: 0;
    top: 0;
    /*background: #336d91;*/
    background:#bf4c0c;
    color: #041b2e;
    width: 3rem;
    height: 100%;
    font-size: 2.2rem;
    padding: .3rem 0rem .5rem 0.8rem;
}
#locator-search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    line-height: 2.2rem;
    cursor:pointer;
    background:#041b2e;
}
#locator-search-results li {
    padding:.3rem .5rem;
}
#locator-search-results .coord{
    background: #084376;
}
#locator-search-results li:hover, #locator-search-results .notfound {
    /*background: #336d91;*/
    background:#bf4c0c;
}
#locator-search-results .notfound {
    font-size: 1.4rem;
}
#locator-search-results li .primary {
    font-weight: 600;
}
#locator-search-results li .secondary {
    font-size: 1.4rem;
}
.identifyJSONLabel .locator-text {
    width: 30rem;
    padding: 0.5rem 0rem 0rem 0.8rem;
}
#locator-content-list {
    max-height: 20rem;
    overflow-y:auto;
}
#locator-content-list .selected {
    background:#c6510d;
    color: #041b2e;
}
.locator-content-list-instruct {
    font-family: "Titillium Web";
    font-size: 1.8rem;
    line-height: 1rem;
    font-weight:bold;
    background: #c6510d;
    color: #041b2e;
    text-align:center;
    margin: 1rem 0rem 0.3rem 0rem;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 2rem 2rem 0rem 0rem;
}   
.locator-address {
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: capitalize;
    margin: 1rem .7rem 0 0;
    white-space: normal;
}
.locator-latlon {
    font-size: 1.4rem;
    font-style: italic;
    color:#fc6814;
}
#locator-content .locator-latlon {
    color:#FFF;
    padding:0;
}
#locator-content .locator-address {
    margin: 0;
    width: 95%;
}
.locator-saved-item {
    position: relative;
    border-radius: 1rem;
    border: 0.2rem solid #c6510d;
    /*background:#fc6814;
    background:rgb(44, 149, 235);*/
    padding: 1rem 1rem 1rem 1rem;
    color: #041B2E;
    color:#c6510d;
    font-size: 1.6rem;
    cursor:pointer;
    margin: .5rem 0;
}
.locator-save-item-close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    border-radius: 0.8rem;
    background: #041B2E;
    color: #c6510d;
    font-size: 2.1rem;
    width: 2.4rem;
    height: 2.5rem;
    padding: 0.2rem 0 0.5rem 0.5rem;
}
.locator-saved-item:hover {
    opacity:0.8;
}
.locator-page-start {
    height:3rem;
    color: #eee;
    font-family: 'Titillium Web';
}