#lmvControls_locator {
    max-width: 40rem;
}
.locator-tab-wrap {
    padding: 0 .5rem;
}
.locator-tab-wrap .locator-tab:first-child {
    border-radius: .5rem 0 0 0;
    border-left: .1rem solid #AAA;
}
.locator-tab-wrap .locator-tab:last-child {
    border-radius: 0 .5rem 0 0;
    border-right: .1rem solid #AAA;
}
.locator-tab {
    display: table-cell;
    background: #434343;
    color:#CCC;
    padding: .5rem 1rem;
    font-family: 'Titillium Web';
    font-size: 1.4rem;
    opacity: 0.7;
    cursor: pointer;
    border-top: .1rem solid #AAA;
}
.locator-tab:hover {
    opacity:1;
}
.locator-tab-wrap .selected {
    opacity:1;
    color:#eee;
    background:#222;
    border-left: .1rem solid #AAA;
    border-right: .1rem solid #AAA;
}
#locator-content {
    margin: 0 .5rem;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 0 0 .5rem .5rem;
    color:#eee;
}
#locator-locate-btn {
    border-radius: 1rem;
    margin: 0 20%;
    width: 60%;
    text-align: center;
    padding: 0.5rem 1rem;
    background: linear-gradient(180deg, #4acb62, #0d3d16);
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
}
#locator-locate-btn:hover {
    opacity:0.8;
}
.locator-search-wrap {
    position:relative;
}
.locator-search-wrap input[type=text]{
    border: none;
    width: 100%;
    outline: none;
    font-size: 1.7rem;
    padding: .3rem .5rem;
}
.closebtn {
    position: absolute;
    right: 0;
    top: 0;
    background: #336d91;
    width: 3rem;
    height: 100%;
    font-size: 2.2rem;
    padding: .2rem .7rem;
}
#locator-search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    line-height: 2.2rem;
    cursor:pointer;
    background:#102638;
}
#locator-search-results li {
    padding:.3rem .5rem;
}
#locator-search-results li:hover, #locator-search-results .notfound {
    background: #336d91;
}
#locator-search-results .notfound {
    font-size: 1.4rem;
}
#locator-search-results li .primary {
    font-weight: 600;
}
#locator-search-results li .secondary {
    font-size: 1.4rem;
}