/*header {
	clip-path: polygon(0 0, 60rem 0, 3rem 60rem, 0% 60rem);
}
.map {
	top:0;
	bottom:0;
	width:100%;
	border: 0;
	position:fixed;
	background:#333;
	border-top: 0.5rem solid #b2120d;
}
#lmvInfoBar {
	display:none;
}*/
.map {
	top:5.5rem;
	bottom:0;
	width:100%;
	border: 0;
	position:fixed;
	background:#333;
}
::-webkit-scrollbar {
	width: 1.2rem;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.6rem rgba(0,0,0,0.3);
    box-shadow: inset 0 0 0.6rem rgba(0,0,0,0.3);
    border-radius: 0.1rem;
}
::-webkit-scrollbar-thumb {
	border-radius: 2.5rem;
    border: solid 0.1rem #222222;
    background-color: #999999;
}
body::-webkit-scrollbar {
	display: none;
}
.mapMaxLabel {
	position:fixed;
	top:0.5rem;
	left:7rem;
	display:none;
	opacity:0.7;
	color:#eee;
	cursor: default;
}
.mapMaxLabel .logoWrapper {
	float:left;
}
.noDisplay {
    display: none;
}
.resize .map {
	top:0;
}
.resize .mapMaxLabel {
	display:block;
}
#modal_about_content {
    padding: 0.5rem 1rem;
}
.mapMax {
	top:0;
	bottom:0;
}
.lmvControlsMax{
	bottom: 0;
}
.leftNavBar {
	bottom:0;
}
.lmvMousePosition {
	position: absolute;
	left: 1rem;
	top:0.2rem;
	width: 17rem;
}
#lmvFeatureInfo1 {
	position:absolute; 
	left:19rem; 
	top:0.2rem;
}
#lmvFeatureInfo2 {
	position:absolute; 
	left:40rem; 
	top:0.2rem;
}
.lmvControls {
	position:fixed;
	left:0;
/*	bottom:5.7rem;*/
	bottom:11.3rem;
	height:0;
	right:0;
	/*background:linear-gradient(rgba(34, 34, 34, 0.85), rgba(150, 150, 150, 0.65));
	background:rgba(250, 250, 250,0.9); 
	background:rgba(227,230,234,0.91);*/
	background: none;
	display:inline-flex;
	margin:0;
	padding:0.2rem 0 0;
	z-index:2000;
}
.isTimeline .lmvControls {
	bottom: 11.3rem;
}
/*.lmvControls:hover {
	background:linear-gradient(rgba(34, 34, 34, 0.85), rgba(150, 150, 150, 0.85));
	background:rgb(227,230,234);
} */

.lmvControlsMax {
	bottom:0;
}

#lmvMaxLabel {
	display:none;
	position:fixed;
	top:1rem;
	left:0.5rem;
	opacity:0.8;
	color:#FFF;
	text-shadow:0 0 0.5rem #000;
	font-family:'Titillium Web','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#lmvMaxLabel img {
	border:none;
	margin:0 0.5rem 0 0.5rem;
	padding:0;
	float:left;
	filter:drop-shadow(0 0 0.5rem #000);	
}
#lmvMaxLabelImg {
    width:50px;
    height:40px;
}
#lmvMaxLabelWrap {
	float:left;
	line-height:1.6rem;
	margin-top:1.6rem;	
	width:45rem;
}
#lmvMaxLabelTop {
	overflow:visible;
	font-size:1.5em;
}
#lmvMaxLabelBottom {
	overflow:visible;
	font-size:0.8em;
	width:100%;
	white-space:nowrap;
}
.ol-control button {
	background: rgba(140,140,140,0.5);
	color: #e3e3e3;
	width:2.7rem;
	font-size:2.3rem;
	height:2.8rem;
	margin: 0.1rem;
    padding: 0;
    font-weight: 700;
    border-radius: 0.2rem 0.2rem 0 0;
    border-width:0;
}
.ol-control button:hover {
	background:#ec6112;
}
.ol-control button:focus {
/*	background-color: rgba(0,60,136,.7);*/
	background-color: #ec6112;
	outline:none;
}
.ol-zoom, .ol-locator {
	top: 2.5rem;
	left: 1.5rem;
	width:3.5rem;
    background: none;
    border: 0.1rem solid #CCC;
    position:absolute;
    border-radius:0.4rem;
    padding:0.2rem;
}
.ol-locator {
	top: 9.5rem;
}
.resize .ol-zoom {
	top: 6.5rem;
}
.resize .ol-locator {
	top: 13.5rem;
}
.leftMenuActive .ol-zoom, .leftMenuActive .ol-locator {
    left: 8.5rem;
}
.ol-zoomClosed {
    top: 2.5rem;
    left: 0.5rem;	
}
.ol-zoom:hover, .ol-locator:hover {
	background-color: rgba(255,255,255,.6);
}
.ol-zoom:focus, ol-locator:focus {
	background:default;
	outline:none;
}
.ol-zoomMax {
	top : 7rem;
	left:1.5rem;
}
.ol-attribution {
	display:none;
}
.ol-scale-line {
  position:absolute;
  left:1.5rem;
  bottom:8.5rem;
  background:rgba(120,120,120,0.5);
  border-radius: 0;
  padding:0;
}
.leftMenuActive .ol-scale-line {
	left: 8.5rem;
}
.ol-scale-lineMax {
	left:1.5rem;
}
.ol-scale-line .ol-scale-line-inner {
	line-height: 1.5rem;
	color:#eee;
	border: 1px solid #eee;
	border-top: none;
}
.ol-scale-lineMI {
	bottom:7rem;
}
.ol-scale-lineMI .ol-scale-line-inner {
	border-bottom: none;
	border-top:0.1rem solid #eee;
}
.isTimeline .ol-scale-line {
	bottom:13.5rem;
}
.isTimeline .ol-scale-lineMI {
	bottom:12rem;
}
.ol-rotate {
	display:none;
}
.ol-tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.4rem;
	color: white;
	padding: 0 0.8rem;
	opacity: 0.7;
	white-space: nowrap;
	font-size: 1.2rem;
}
.ol-tooltip-measure {
	opacity: 1;
	font-weight: bold;
}
.ol-tooltip.hidden {
	display:none;
}
.ol-tooltip-static {
	background-color: rgba(0,0,0, 0.99);
	color: #FFF;
	border: 0.1rem solid white;
	opacity: 0.8;
}
.ol-tooltip-measure:before, .ol-tooltip-static:before {
	border-top: 0.6rem solid rgba(0, 0, 0, 0.5);
	border-right: 0.6rem solid transparent;
	border-left: 0.6rem solid transparent;
	content: "";
	position: absolute;
	bottom: -0.6rem;
	margin-left: -0.7rem;
	left: 50%;
}
.ol-tooltip-static:before {
	border-top-color: #222;
}
@keyframes mapControlBarAnimationOpen {
	0%   {opacity:0; left:0; top:0;}
	100% {opacity:1; left:30%; top:0; }
  }
@keyframes mapControlBarAnimationClose {
	0% {opacity:1; left:30%; top:0; }
	100% {opacity:0; left:0; top:0;}
}
.mapControlBarAnimationOPEN {
	animation-name: mapControlBarAnimationOpen;
	animation-duration: 1s;
	position: relative; left:30%; top:0;
	opacity: 1;
}
.mapControlBarAnimationCLOSE {
	animation-name: mapControlBarAnimationClose;
	animation-duration: 1s;
	position: relative; left:0; top:0;
	opacity: 0;
}
@keyframes mapControlBartimelineAnimationOpen {
	0% { bottom:5.4rem; }
	100% { bottom:11.3rem;}
}
@keyframes mapControlBartimelineAnimationClose {
	0%   {bottom:11.3rem;}
	100% {bottom:5.4rem; }
}
.mapControlBartimelineAnimationOPEN {
	animation-name: mapControlBartimelineAnimationOpen;
	animation-duration: 1s;
	bottom:11.3rem;
	opacity: 1;
}
.mapControlBartimelineAnimationCLOSE {
	animation-name: mapControlBartimelineAnimationClose;
	animation-duration: 1s;
	bottom:5.4rem;
	opacity: 1;
}
#mapControlBar {
	/*margin:0 auto;*/
	position: relative; top:0; left:30%;
} 
#bottomBar {
	position: relative; bottom:0;
	display: inline-block;
}
.bottomBar {
	text-align:center;
	cursor:pointer;
	font-size:0.5em;
/*	color:rgba(250,250,250,0.8);*/
	color:#EEE;
	list-style-type:none;
	line-height: 1.6rem;
	margin:0;
	padding:0 0.1rem;
}
.bottomBarMenuItem {
	width: 7.5rem;
    --widthBtn: 7.5rem;
    /*height: 5rem;*/
    display: inherit;
    background: #072b49cc;
    border-radius: 0.3rem;
    margin-right: 0.4rem;
    padding: 0.3rem 0.2rem 0.2rem 0.2rem;
}
#bb_toggle_btn.bottomBarMenuItem {
	border-radius: 3rem;
	width: 3rem;
	--widthBtn: 3rem;
	height: 3rem;
	padding: .1rem;
}
.bottomBarMenuTool:hover {
    background: rgb(236,97,17);
	color:#EEE;
}
.bottomBarMenuWind:hover {
    background: rgb(236,97,17);
	color:#EEE;
}
.bottomBarMenuItemSelected{
	/*background: #080f18;*/
	background: rgb(236,97,17);
	color:#EEE;
}
.bottomBarMenuItemSelected:hover {
	background: rgb(236,97,17);
	color:#EEE;
}
.bottomBarMenuItemSelected .bottomBarIcon{
	color: #eee;
}

.bottomBarMenuItemList {
	width:9.5rem;
	
}
#bottomBarFirmsInfo {
	float: left;
}
#bottomBarRightInfo {
	position:absolute; 
	right:1rem;
}
#bottomBarLeftInfo {
	position:absolute;
	left: 1rem;
	text-align:center;
}
.mapCircleBtn {
    width: 4.8rem;
	height: 4.8rem;
	color: #e3e3e3;
	background: rgba(140, 140, 140, 0.5);
	border-radius: 2.5rem;
	margin: 0 0 0 0.3rem;
	padding-top: 1rem;
	font-size: 2.8rem;
	display: none;
	cursor:pointer;
	text-align: center;
}
.mapCircleBtn:hover {
    color: #eee;
    background: #ec6111;
}
.bottomBarBtnLabel {
	font-size: 2.7rem;
	padding:0.3rem 0 0.1rem 0;
}
.bottomBarMenuItem>p {
	margin:0;
	/*text-shadow: 0 0 3px #888;*/
	font-family: 'Titillium Web','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.bottomBarSelected {
	background:rgb(236,97,17);
	color:#EEE;
	cursor:default;
}
.bottomBarSelected:hover {
	background:rgb(236,97,17);
	color:#EEE;
}
#bb_pan_btn {
	display: none;
}

.bottomBarLabel {
	font-size:1.2rem;
	/*color:#EEE;*/
	color:#222;
	opacity:0.8;
	/*text-shadow:0 0 3px #222;*/
	font-style:italic;
	margin:0.5em;
}
.bottomBarLabelCont {
	position:absolute;
	left:1.5rem;
}
.leftMenuActive .bottomBarLabelCont {
	left: 8.5rem;
}
.bottomBarIcon {
	color:#EEE;
}
/*.bottomBarMenuItemDisabled {
    color: #898a8b;
    cursor: default;
    background: #5d5d59;
}
.bottomBarMenuItemDisabled .bottomBarIcon {
	color: #777;
}
.bottomBarMenuItemDisabled:hover {
	background: #AAA;
	color:#777;
}
.bottomBarMenuItemDisabled:hover .bottomBarIcon{
	color:#777;
}*/
.bottomBarSubMenuImg {
	float:left;
	width:4.3rem;
	height:4.3rem;
	border:0;
	margin:0.5rem 1.5rem 0 0.5rem;
	padding:0;
	border-radius:10%;
}
.bottomBarLogo {
	width: 6rem;
	height: 5rem;
	border: 0;
	margin-top: -0.1rem;
	padding: 0;
}
.bottomBarBtnLabelTxt {
	display: block;
	font-size:1.1rem;
}
.bottomBarSubMenuItemLabel {
	padding-top:1.1rem;
	line-height: 1.8rem;
	display:flex;
}
.layerOnOffButton {
	font:normal 1.3rem Titillium Web, sans-serif;
	position:absolute; left:0.2rem; top:0.2rem;
	color:#444444;
	background: #818080;
	width:2.2rem;
	height: 2.2rem;
	padding: 0.1rem 0 0.1rem 0.4rem;
	border-radius: 2rem;
}
.layerOnOffButton:hover, .layerOnOffButtonActive {
	color: #57f173;
	background:#102638;
}
/*.layerOnOffButton:hover::after {
	position:absolute; top:-1.9rem; right:-5.5rem;
	content: "Select";
	width:8rem;
}*/
#navGCContent_basemaps-basic .layerOnOffButton, #navGCContent_basemaps-advanced .layerOnOffButton {
	font:normal 1.3rem Titillium Web, sans-serif;
	position:absolute; left:0.2rem; top:0.2rem;
	/*color:#444444;
	background: #818080;*/
	width:2.2rem;
	height: 2.2rem;
	padding: 0.1rem 0 0.1rem 0.4rem;
	border-radius: 2rem;
}
#navGCContent_basemaps-basic .layerOnOffButton:hover, #navGCContent_basemaps-advanced .layerOnOffButton:hover {
	color: #57f173;
	background:#102638;
}
/*#navGCContent_basemaps-basic .layerOnOffButton:hover::after, #navGCContent_basemaps-advanced .layerOnOffButton:hover::after {
	position:absolute; top:-1.9rem; right:-5.5rem;
	content: "Select";
	width:8rem;
}*/
#lmvControls_help_Content .bottomBarSubMenuItemLabel {
    line-height: 3rem;
}
.mapMenu .bottomBarSubMenuItemLabel {
	padding-bottom:.3rem;
	padding-top:1rem;
}
.bottomBarSubMenuItemLabel2 {
	padding-top:1rem;
}
.bottomBarSubMenuItemLabelHelp {
	padding-top:1.5rem;
}
.bottomBarSubMenuItemInfo {
	float:right;
	display:inline;
	margin-top:0.2em;
	margin-right:0.3em;
	font-size:1.8rem;
}

.bottomBarSubMenuItemLabelLayer {
	width:100%;
	font-size:1.4rem;
	text-align:end;
	padding-top:1rem;
}
.mapToolBtn {
	width: 9rem;
    height: 4.4rem;
    display: inherit;
    padding: 0.4rem 0 0.2rem;
	border-radius: 0.3rem;
	color:#CCC;
	opacity:0.7;
}
.mapToolBtn>p {
	margin:0;
}
.mapToolBtn:hover {
	opacity:1;
}
.mapToolBtnSelected {
	background:#000;
	border: 0.1rem solid #777;
	opacity:1;
}
.mapToolBtnLabelTxt {
    display: block;
    font-size: 1rem;
}
/*.mapShowNoLeftBar {
	left : 1.5rem;
}*/
.lmvCtrlBtn {
	width: 33%;
	text-align:center;
	height: 2.3rem;
	padding: 0.5rem;
	background:#777;
	color:#BBB;
	cursor:pointer;
}
.lmvCtrlBtnActive {
	background: linear-gradient(180deg, #3d82b0, #1a3d53);
	color:#F0F0F0;
}
.lmvCtrlBtnActive:hover {
	background: #073f63;	
}
.lmvCtrlBtnActive {
	background: linear-gradient(180deg, #3d82b0, #1a3d53);
	color:#F0F0F0;
}
.lmvCtrlBtnActive:hover {
	background: #073f63;	
}
.lmvCtrlBtnColor {
	float:left;
	margin-left:1.5rem;
	cursor:pointer;
	width:14rem;
	border-radius:0.5rem;
	font-size:1.4rem;
}
.supp_lyrs_lyr_click {
	width:30rem;
	right:3rem;
	min-height: 5.5rem;
}
.supp_lyrs_lyr_click_extra {
	right:6rem;
}
.supp_lyrs_lyr_click_legend {
	right:9rem;
}
.lmvBottomLogo {
	position:absolute;
	bottom: .7rem;
	right:1rem;
	z-index: 1000;
}
.lmvBottomLogo img {
	width: 5rem;
	height:4.2rem;
}
@media screen and (max-width: 1180px) {
	#mapControlBar {
		left:15%;
	}
	@keyframes mapControlBarAnimationOpen {
		0%   {opacity:0; left:0; top:0;}
		100% {opacity:1; left:15%; top:0; }
	  }
	@keyframes mapControlBarAnimationClose {
		0% {opacity:1; left:15%; top:0; }
		100% {opacity:0; left:0; top:0;}
	}
	.mapControlBarAnimationOPEN {
		animation-name: mapControlBarAnimationOpen;
		animation-duration: 1s;
		position: relative; left:15%; top:0;
		opacity: 1;
	}
	.mapControlBarAnimationCLOSE {
		animation-name: mapControlBarAnimationClose;
		animation-duration: 1s;
		position: relative; left:0; top:0;
		opacity: 0;
	}
}
	
@media screen and (max-height: 600px), screen and (max-width: 850px) {
	.map {
		bottom:0;
	}
	.lmvControls {
		padding:0.3rem 0 0 0;
	}
	.bottomBarLabel {
		display:none;
	}
	.bottomBarBtnLabel {
		font-size: 2.5rem;
		padding:0.7rem 0 0;
	}
	.bottomBarBtnLabelTxt {
		font-size: 1rem;
		display:none;
	}
	.bottomBarMenuItem {
		width:5rem;
		height:3.6rem;
		display:inherit;
		padding-top:0.2rem;
	}
	.bottomBarMenuItemList {
		width:7.5rem;
	}
	.bottomBarColumn {
		width: 20rem;
	    bottom: 3.7rem;
	    font-size:1em;
	}	
	.bottomBarSubMenuImg, .bottomBarSubMenuHelpImg {
		width:3.2rem; 
		height:3.2rem;
		margin:0.3rem 1rem 0 0.3rem;
	}
	.bottomBarSubMenuItem {
		height:3.8rem;
		margin:0.3rem;
		font-size:1rem;
	}	
	.bottomBarSubMenuItemInfo {
		font-size:1.4rem;
		margin-top:0;
	}	
	.resize #lmvInfoBar {
		padding-left: 0.5rem;
		padding-top: 0;
		border:none;
		text-shadow:0 0 0.5rem #000;
		background: none;
		color:#FFF;
		height: 2rem;
		margin: 0;
		left:2.5rem;
	}
	.resize #lmvInfoBar {
		top: 5.3rem;
    	left: 7rem;
	}
	.resize #lmvFeatureInfo1 {
		top: 0;
		left: 0;
		padding-top:0;
	}
	.resize #lmvFeatureInfo2 {
		left: 50%;
		padding-top:0;
	}
	.resize .lmvMousePosition {
		top: 2rem;
		left: 0;
	}
}

@media screen and (max-width: 700px), screen and (max-height: 500px) {
	.ol-scale-line {
		bottom: 7rem;
	}
	.ol-scale-lineMI {
		bottom: 5.5rem;
	}
	.isTimeline .ol-scale-line {
		bottom: 13rem;
	}
	.isTimeline .ol-scale-lineMI {
		bottom: 11.5rem;
	}
	.isTimeline .lmvControls {
		//bottom: 16rem;
		bottom: 10rem;
	}
	.bottomBarLogo {
		display:none;
	}
	@keyframes mapControlBarAnimationOpen {
		0%   {opacity:0; left:0; top:0;}
		100% {opacity:1; left:20%; top:0; }
	  }
	@keyframes mapControlBarAnimationClose {
		0% {opacity:1; left:20%; top:0; }
		100% {opacity:0; left:0; top:0;}
	}
	.mapControlBarAnimationOPEN {
		animation-name: mapControlBarAnimationOpen;
		animation-duration: 1s;
		position: relative; left:20%; top:0;
		opacity: 1;
	}
	.mapControlBarAnimationCLOSE {
		animation-name: mapControlBarAnimationClose;
		animation-duration: 1s;
		position: relative; left:0; top:0;
		opacity: 0;
	}
	@keyframes mapControlBartimelineAnimationOpen {
		0% {bottom:4.5rem;}
		100% {bottom:10rem;}
	}
	@keyframes mapControlBartimelineAnimationClose {
		0%   {bottom:10rem;}
		100% {bottom:4.5rem;}
	}
	.mapControlBartimelineAnimationOPEN {
		animation-name: mapControlBartimelineAnimationOpen;
		animation-duration: 1s;
		bottom:10rem;
		opacity: 1;
	}
	.mapControlBartimelineAnimationCLOSE {
		animation-name: mapControlBartimelineAnimationClose;
		animation-duration: 1s;
		bottom:4.5rem;
		opacity: 1;
	}
	#mapControlBar {
		/*margin:0 auto;*/
		position: relative; top:0; left:20%;
	} 
	#leftNavBarMapResize {
		left: 1.2rem;
	}
	.mapMaxLabel {
		top:0;
		left:5.5rem;
	}
	#bottomBar {
		display: inline-block;
		position: relative; 
		/* NOTE: bottom position handled by .isTimeline .lmvControls {bottom: 10rem;} */
	}
	.bottomBar {
		text-align:center;
		cursor:pointer;
		font-size:0.5em;
	/*	color:rgba(250,250,250,0.8);*/
		color:#EEE;
		list-style-type:none;
		line-height: 1.6rem;
		margin:0;
		padding:0 0.1rem;
	}
	.mapCircleBtn {
		position: relative; 
		bottom:0.2rem;
		margin: 0; 
		width: 4rem;
		height: 4rem;
		border-radius: 2rem;
		font-size: 2.8rem;
		padding-top: .6rem;
	}
	#bb_toggle_btn.bottomBarMenuItem {
		padding: 0rem;
	  }
	#lmvMenus {
		z-index: 2800;
	}
	.bottomBarColumn {
		/*margin-left:-125px;*/
		margin-left: calc(-19.5rem + var(--widthBtn)); 
		border-radius: 0.7rem 0.7rem 0 0.7rem;
	}	
	.ol-zoom {
		top:5.5rem;
		/*display:none;*/
	}
	.ol-locator {
		top: 12.5rem;
	}
	.ol-scale-line {
		font-size:1rem;
		height:1.5rem;
	}
	.ol-scale-line-inner {
		margin-top: -0.3rem;
	}
	#lmvInfoBar {
		padding-left: 0.5rem;
		padding-top: 0;
		border:none;
		text-shadow:0 0 0.5rem #000;
		background: none;
		color:#FFF;
		height: 2rem;
		margin: 0;
		left:2.5rem;
	}
	#lmvFeatureInfo1 {
		top: 0;
		left: 0;
		padding-top:0;
	}
	#lmvFeatureInfo2 {
		left: 50%;
		padding-top:0;
	}
	.lmvMousePosition {
//		top: 2rem;
//		left: 0;
	}
}

@media screen and (max-width: 600px) {
	.bottomBar {
		font-size:0.5em;
	}
	.bottomBarMenuItem {
		width:4.5rem;
	}
	.bottomBarColumn {
		margin-left: calc(-20rem + var(--widthBtn));
	} 
	.bottomBarBtnLabelTxt {
		font-size: 0.8rem;
	}
	
}

@media screen and (max-height: 600px), screen and (max-width: 600px) {
	.bottomBarColumnLeft {
		margin-left:-4rem;
		border-radius:0.7rem;
	}	
	#lmvMenus {
		z-index: 2800;
	}

}
@media screen and (max-width: 500px) {
	.isTimeline .lmvControls {
		bottom: 16rem;
	}
	.isTimeline .ol-scale-line {
		bottom: 19rem;
	}
	.isTimeline .ol-scale-lineMI {
		bottom: 17.5rem;
	}
	#bb_locator_btn {
		display:none;
	}
	@keyframes mapControlBarAnimationOpen {
		0%   {opacity:0; left:0; top:0;}
		100% {opacity:1; left:7%; top:0; }
	  }
	@keyframes mapControlBarAnimationClose {
		0% {opacity:1; left:7%; top:0; }
		100% {opacity:0; left:0; top:0;}
	}
	.mapControlBarAnimationOPEN {
		animation-name: mapControlBarAnimationOpen;
		animation-duration: 1s;
		position: relative; left:7%; top:0;
		opacity: 1;
	}
	.mapControlBarAnimationCLOSE {
		animation-name: mapControlBarAnimationClose;
		animation-duration: 1s;
		position: relative; left:0; top:0;
		opacity: 0;
	}
	@keyframes mapControlBartimelineAnimationOpen {
		0% {bottom:4.5rem; }
		100% {bottom:16rem;}
	}
	@keyframes mapControlBartimelineAnimationClose {
		0%   {bottom:16rem;}
		100% {bottom:4.5rem; }
	}
	.mapControlBartimelineAnimationOPEN {
		animation-name: mapControlBartimelineAnimationOpen;
		animation-duration: 0.7s;
		bottom:16rem;
	}
	.mapControlBartimelineAnimationCLOSE {
		animation-name: mapControlBartimelineAnimationClose;
		animation-duration: 1.1s;
		bottom:4.5rem;
	}
	#mapControlBar {
		/*margin:0 auto;*/
		position: relative; top:0; left:7%;
	} 
	#bottomBar {
		position: relative; bottom:0;
		display: inline-block;
	}
	#headerTxtLabelSmall, #mapMaxLabelTxtLabelSmall {
		font-size:2.2rem;
		margin: 1.7rem 0 0 0;
	}
}