.mapMenu {
    font-size:1.4rem;
	position:absolute;
	top:3rem;
	right:0;
	border:0.1rem solid #999;
	width:40rem;
	background:rgb(34,34,34);
	box-shadow:0 0 0.3rem #e9e9e9;
	display:block; 
	border-radius:0.7rem 0 0 0.7rem;
	border-right:none;
	opacity:0.95;
	min-height: 20rem;
}

.mapMenu:hover {
	opacity:1.0;
}
.mapMenuHidden {
	width :0;
	border:none;
	right:0;
}
.mapMenuClose {
	right: 0;
    top: 0rem;
    height: 3.2rem;
    width: 10%;
	padding: 0.3rem 0.5rem;
    position: absolute;
	cursor: pointer;
	font-weight:500;
	color:#DDD;
	text-align: center;
	font-size:2.5rem;
}
.mapMenuTopContent {
	overflow-x: hidden;
}
.mapMenuContent {
	position:relative; 
	overflow-y:auto;
	overflow-x:hidden;
	width:100%; 
	border-radius:0.1rem;
	background:rgba(34,34,34,0.95);
	border-radius: 0 0 0.7rem 0.7rem;
	padding:0 0 0.5rem 0;
}
.mapMenuContent ul {
	padding:0;
	margin:0;
	list-style: none;
}
.mapMenuCloseHolder {
	position: absolute;
    left: -5.1rem;
    top: 1rem;
    width: 4.5rem;
    text-align: center;
    background: none;
    cursor: pointer;
}
.mapMenuBtns {
    margin: -.9rem;
    width: 4.8rem;
    height: 4.8rem;
    color: #e3e3e3;
	background: rgba(140, 140, 140, 0.5);
    border-radius: 2.5rem;
    font-size: 2.8rem;
    padding-top: .9rem;
    display: none;
}
.mapMenuBtns:hover {
	color: #eee;
    background: #ec6111;
}
.mapMenu .navGCHeader {
	text-align: left;
}
.menuAnimClose {
	animation: menuMoveClose 1s;
}
.menuAnimOpen {
	animation: menuMoveOpen 1s;
}
.mapOptionTab {
	opacity:0.7;
    font-size: 1.6rem;
    position: absolute;
	color: #b1b3b3;
    height: 3.2rem;
	background: #73736e;
    padding: .7rem .5rem;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
	text-transform: uppercase;
}
.mapOptionTab:hover {
	opacity:0.9;
}
.mapOptionTabSelected, .mapOptionTabSelected:hover {
	background:#222;
	color:#DDD;
	opacity:1;
}
.mapOptionTab_1 {
	width:90%;
}
.mapOptionTab_2 {
	width:45%;
}
.mapOptionTab_3 {
	width:30%;
}
.mapMenuOptions {
	cursor: pointer;
    border-radius: 0.6rem 0 0;
    padding: 0.3rem 0.5rem;
    font-size: 2.5rem;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
}
.mapMenuOptions .selected {
	color: red;
}
.mapMenuOptions:hover {
	background: linear-gradient(180deg,#4acb62,#0d3d16);
}
.mapMenuItems {
	background: linear-gradient(45deg, #500303, #000000ba);
    position: absolute;
    top: 4rem;
    bottom: 0;
    width: 100%;
	border-radius: 0 0 0 0.7rem;
	overflow: auto;
}
.mapMenuItems .option {
    padding: 0.5rem;
	width: 30%;
	display: inline-block;
	vertical-align: top; 
	min-height: 10rem;
	margin: 0.3rem 1%;
	position: relative;
	border-radius: 0.5rem;
	color: #0c2e3e;
    background: #dfdfdf;
	cursor:pointer;
}
.mapMenuItems .option:hover {
	border:.2rem solid rgb(29, 107, 152);
/*	background: linear-gradient(180deg,#30aaf255,#1c77aa55);*/
	opacity: 0.8;
    background: #6cb7dd;
}
.mapMenuItems .icon {
	color: #0c2e3e;
    width: 90%;
    text-align: center;
    font-size: 3rem;
    display: inline-block;
    position: absolute;
    top: 1rem;
}
.mapMenuItems .label {
	font-size: 1.5rem;
    display: inline-block;
    text-align: center;
	margin-top: 4.5rem;
	width:100%;
	font-family: 'Titillium Web';
}
.mapMenuItems .label span:first-child {
	text-transform: uppercase;
	font-size: 1.6rem;
}
.mapMenuTitle {
	text-align: left;
	position: absolute;
	text-transform: uppercase;
    top: .8rem;
    left: 5rem;
    font-weight: 600;
    font-size: 2rem;
}
.mapMenuIcons {
	position: absolute;
	right: 4.5rem;
	top:.5rem;
	font-size: 2.2rem;
	cursor:pointer;
}
.mapMenuIcons span {
	margin-right: .5rem;
}
.mmHeader {
	background: linear-gradient(#555,#000);
	color: #4fdc69;
	border-radius: .7rem 0 0 0;
	text-align: center;
    width: 100%;
    height: 3.2rem;
    cursor: default;
    font-size: 1.8rem;
    position: relative;
}
@keyframes menuMoveClose {
	from {  }
	to { right: -40.1rem; }
}
@keyframes menuMoveOpen {
	from { right: -40.1rem; }
	to { right: 0; }
}
@media screen and (max-width: 700px) {
	.mapMenuBtns {
		margin: 0 0.1rem;
		width: 4rem;
		height: 4rem;
		border-radius: 2rem;
		font-size: 2.5rem;
    	padding-top: .8rem;
	}
}
@media screen and (max-width: 700px) {
	.mapMenu {
		top:0;
	}
}

@media screen and (max-height: 600px) {
	.mapMenu {
		top:-5.5rem;
	}
	.resize .mapMenu {
		top:0;
	}
	.mapMenuBtns {
		margin: 0 -.3rem;
	}
	.mapMenuCloseHolder {
		top: 6rem;
	}
	.resize .mapMenuCloseHolder {
		top: 1rem;
	}
}
@media screen and (max-width: 400px) {
	.mapMenu {
		width:100%;
		border:none;
		border-bottom:0.1rem solid #999;
		border-radius:0;
		top:0;
		/*border-top:0.2rem solid #FFF;*/
		opacity:1.0;
	}
	.mapMenuHidden {
		width: 0;
	}
	#mapMenuClose {
		border-radius: 0;
	}
	@keyframes menuMoveClose {
		from { right: 0; }
		to { right: -100%; }
	}
	@keyframes menuMoveOpen {
		from { right: -100%; }
		to { right: 0; }
	}
}
/* needed for IE11 */
@media screen and (max-width: 1px) {
	.mapMenu {
		width:40rem;
		border:0.1rem solid #999;
		border-radius:0.7rem 0 0 0.7rem;
		border-right:none;
		opacity:0.92;
		top:2.5rem;
	}
	.mapMenuHidden {
		width: 0;
	}
	#mapMenuClose {
		border-radius: 0.6rem 0 0 0;
	}
}

span.spinnerMapMenu {
	display:none;
    float: right;
    position: relative;
    top: 0;
    right: 1rem;
    border: 0.6rem solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    border-top: 0.6rem solid rgba(60, 155, 76, 0.7);
    width: 2rem;
    height: 2rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}