.view3d_btn {    
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(#30aaf2, #155b82);
    margin: 0 auto;
    width: 45%;
    border-radius: 0.5rem;
    color: #FFF;
    cursor: pointer;
}
#map3dReturn, #map3dControls {
	position: absolute;
	top: 7rem;
    left: .5rem;
    width:4.5rem;
    height:4.5rem;
	padding: 1rem;
	border-radius: 3rem;
	border: .1rem solid #35b7b3;
	cursor: pointer;
	color: #35b7b3;
	opacity:0.5;
}
#map3dReturn:hover, #map3dControls:hover {
    opacity:0.9;
    background: #35b7b3;
    color:#eee;
}
#map3dReturn .bottomBarBtnLabel, #map3dControls .bottomBarBtnLabel {
    padding: .1rem 0;
}
#map3dControls {
    top: 12rem;
}
.barPannel {
    width: 8rem;
    position: absolute;
    top: 0;
    bottom: 7rem;
    left: .5rem;
    /* box-shadow: .3rem .3rem yellow; */
    background: linear-gradient(0deg, #7b7b7b7a, #00000063, transparent);
}