.view3d_btn {    
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(#30aaf2, #155b82);
    margin: 0 auto;
    width: 45%;
    border-radius: 0.5rem;
    color: #FFF;
    cursor: pointer;
}