/* The container */
.llCheckbox {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.llCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -0.3rem;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #eee;
    border:0.1rem solid #AAA;
}

/* On mouse-over, add a grey background color */
.llCheckbox input ~ .checkmark {
    /*  background-color: #ccc;*/
    background-color: #767676;
}

/* When the checkbox is checked, add a blue background */
.llCheckbox input:checked ~ .checkmark {
    background-color: #0000;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.llCheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.llCheckbox .checkmark:after {
    left: 0.8rem;
    top: 0.2rem;
    width: 0.8rem;
    height: 1.6rem;
    border: solid #c4c4c4;
    border-width: 0 0.3rem 0.3rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tatraLyrOutline {
	margin: 1em 0;
	font-size: 1.2rem;
	color: #EEE;
    background: #767676;
}
.tatraLyrWrap {
	position: relative;
	padding: 0.7rem;
	border-bottom:0.1rem solid #AAA;
}
.tatraCtrlLyr {
    text-align: left;
    position: relative;
    padding: 0;
    height: 5.7rem;
    cursor: pointer;
    border-bottom: 0.1rem solid #777;
    font-size: 1.4rem;
    background:#C0C0C0;
}
.fmmControlsLayer:hover {
    background: #999;

}
.fmmControlsLayer .lmvControlsIconLabel {
    opacity:0.7;
}
.fmmControlsLayer img {
	float:left;
	width:4.5rem;
	height:4.5rem;
	border:0;
	margin:0.5rem 2rem 0 0.5rem;
	padding:0;
	border-radius:3.2rem;
	border:0.1rem solid #CCC;
}
.fmmControlsLayerSelected {
    background:#777;
}

.fmmControlsLayer:hover img {
	border:0.1rem solid #FFF;
	opacity: 0.8;
}
.fmmControlsLayerSelected img {
	opacity: 1;
	border:0.1rem solid #FFF;
}
.fmmControlsLayer:hover .lmvControlsIconLabel {
	opacity: 0.9;
	color:#FFF;
}
.fmmControlsLayerSelected .lmvControlsIconLabel{
	opacity:1;
	color:#DDD;
}

.fmmControlsLayerSelected:hover img {
	opacity: 1;
}

.fmmControlsLayerClick {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    right:3.5rem;
}

.tatraLyrShowAll {
    text-align: center;
    padding: 0.2rem;
    /*color: #32688a;*/
    color:#222;
    height:auto;
}
.fmmLyrExpBtn {
    position:absolute;
    width: 2.5rem;
    left:0;
    font-size: 1.8rem;
}
.fmmLyrInfoBtn {
    position:absolute;
    width: 2.5rem;
    left:2.7rem;
}
.tatraSuppLyrs {
    background: #2a4a62;
}